
.contact{
    color: #a9a9b8;
    margin-left: 40%;
}
.rectangle2{
    height: 50px;
    width: 120px;
    color: #6E6D88;
    text-align: center;
    border-radius: 3px;
    border: 1px solid #FFB400 ;
    margin-top: 30px;
  }

 .rectangle2 p{
    vertical-align: middle;
    display: inline-block;
 }

 .rectangle2 p:hover{
     color:  #FFB400 ;
 }
.touch{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    position: relative;
    right: 30px;
}
.hr{
    color:  #FFB400 ;
    text-decoration: none;

}


.media1{
    display: inline-block;
}
.media{
    display: inline;
    margin-left: 0px;
}

.media:hover{
  color:#FFB400 ;
}

.footer{
     position: relative;
     right: 50px;
}

@media screen and (max-width: 700px) {
  
 
    .touch{
        display: flex;
        flex-direction: column;
        margin-top: 25px;
        position: relative;
        right: 75px;
    }
    
    .rectangle2{
        position: relative;
        right: 30px;
        height: 50px;
        width: 120px;
        color: #6E6D88;
        text-align: center;
        border-radius: 3px;
        border: 1px solid #FFB400 ;
        margin-top: 30px;
      }

      .media{
        display: inline;
        margin-left: 0px;
    }
}