.links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 50px;
    cursor: pointer;

    width: 400px;
    font-weight: bolder;
   
}

.re{
    color:  #C4C1E7;
    text-decoration: none;
}
@media screen and (max-width: 900px) {
    
  }
  
